.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03C9A9;
    height: 70px;
    position: sticky;
    top: 0;
}

h1 {
    color: white;
}

.left {
    display: flex;
    flex: 1;
    justify-content: start;
}

.center {
    display: flex;
    flex: 1;
    justify-content: center;
}

.right {
    display: flex;
    flex: 1;
    justify-content: end;
}