<div class="container">
    <div class="left">
        <button [routerLink]="['/home']" class="btn-white">Volver</button>
    </div>
    <div class="center">
        <h1>{{title|titlecase}}</h1>
    </div>
    <div class="right">

    </div>
</div>