<table>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
    </tr>
    <tr class="row" *ngFor="let link of links" (click)="clickRow(link)">
        <td>{{link.name}}</td>
        <td>{{link.description}}</td>
    </tr>
</table>