table {
    width: 100%;
    cursor: default;
}

th {
    padding: 5px;
    text-align: start;
    font-weight: 400;
    height: 40px;
    font-size: 14px;
}

tr {
    vertical-align: middle;
    font-size: 14px;
    font-weight: 300;
    border-top: 1px solid red;
}

.row:hover {
    background-color: #ddd;
}

td {
    padding: 5px;
    height: 40px;
    font-size: 14px;
    border-top: 1px solid #ddd;
}