.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    widows: 100vh;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
}

.title {
    margin-top: 20px;
}

h2 {
    margin: 10px;
}

h1 {
    font-size: 100px;
    margin: 10px;
}