<div class="container">
    <header>
        <div class="text-center">
            <h2>Bienvenido al nuevo repositiorio de la</h2>
        </div>
        <div class="title text-center">
            <h1><span class="red">A</span><span class="orange">F</span><span class="yellow">L</span><span class="green">M</span></h1>
        </div>
    </header>
    <nav>
        <button [routerLink]="['/detail/animals']">Animales</button>
        <button [routerLink]="['/detail/books']">Libros</button>
        <button [routerLink]="['/detail/music']">Música</button>
        <button [routerLink]="['/detail/healt']">Salud</button>
    </nav>
</div>