<div class="name">
    <p class="bold">Nombre</p>
    <p class="data">{{activeLink.name}}</p>
</div>
<hr>
<div class="description">
    <p class="bold">Descripción</p>
    <p class="data">{{activeLink.description}}</p>
</div>
<hr>
<div class="author">
    <p class="bold">Autor</p>
    <p class="data">{{activeLink.author}}</p>
</div>
<hr>
<div class="action text-center">
    <button (click)="goToLink(activeLink.url)">Navegar</button>
</div>