.container {
    display: flex;
    flex-wrap: wrap-reverse;
    margin-top: 50px;
}

.content {
    flex: 3;
    padding-left: 50px;
    padding-right: 20px;
}


/* .info {
    flex: 1;
    padding: 50px;
} */

.info {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 0%;
    transition: all 0.6s;
}

.show-info {
    padding-left: 20px;
    padding-right: 50px;
    flex: 1;
    white-space: normal;
    flex-wrap: wrap-reverse;
}