<app-header [title]="title"></app-header>
<app-spinner *ngIf="links.length === 0"></app-spinner>
<div class="container" *ngIf="links.length > 0">
    <div class="content">
        <app-table-detail [links]="links" (actionClick)="updateActiveLink($event)"></app-table-detail>
    </div>
    <div class="info" [ngClass]="{'show-info': activeLink.name}">
        <app-info-detail [activeLink]="activeLink"></app-info-detail>
    </div>
</div>