<app-header [title]="'Oops...'"></app-header>
<div class="container-content">
    <p>Estimado asociado, recuerda que para mantener le orden y las buenas maneras de nuestra estimada asociación, debemos disfrutar de los links siguiendo las pautas acordadas en nuestra reunión fundacional:</p>
    <ol>
        <li>Primero los links de animales.</li>
        <li>Después los de libros.</li>
        <li>Después los de música.</li>
        <li>Y por último los de salud.</li>
    </ol>
</div>