.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    widows: 100vh;
    height: 100vh;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h5 {
    padding-top: 20px;
}

h2 {
    padding-top: 20px;
}

h1 {
    font-size: 100px;
    margin: 0;
}

button {
    margin-top: 20px;
}