<div class="container">
    <section class="text-center">
        <h1>Vaya</h1>
        <h2>No hemos podido encontrar la página que buscas.</h2>
        <button [routerLink]="['/home']">Ir al inicio</button>
        <h5>Código de error: 404</h5>
    </section>
</div>