@import url(https://fonts.googleapis.com/css?family=Lato:400, 300, 900, 100, 700);
* {
    /* margin: 0;
    padding: 0px; */
    font-family: "Lato", sans-serif;
}

body {
    background-color: #f0f0f0;
    margin: 0;
    color: #5a5a5a;
}

router-outlet~* {
    position: absolute;
    height: 100%;
    width: 100%;
}

p,
li,
h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

.text-center {
    text-align: center;
}

.border {
    border-style: solid;
    border-color: black;
}

button {
    border-style: none;
    border-radius: 50px;
    margin: 10px;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 28px 13px 28px;
    background: #03C9A9;
    color: white;
}

.btn-white {
    background: white;
    color: #03C9A9;
}

button:hover {
    transition: all 0.5s;
    color: rgba(0, 0, 0, .87);
}

button:focus {
    outline: none;
}

.red {
    color: #fb0d1b;
}

.orange {
    color: #fd9528;
}

.yellow {
    color: #fffc37;
}

.green {
    color: #2bfc2e;
}

.container-content {
    padding: 50px;
}

li {
    font-size: 14px;
    padding-top: 5px;
}

p {
    line-height: 1.5;
    font-size: 14px;
}

.bold {
    font-weight: 400;
}

.data {
    margin-top: 0px !important;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    color: #03C9A9;
    min-width: 100px;
}